.jumbotron {
    align-content: center;
    text-align: center;
}
.crystals {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    height: 100px;
}

.crystal {
    height: 51px;
    width: 75px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}


}

