display: flex-box

.jumbotron {
    align-content: center;
    text-align: center;
    font-family: 'VT323', monospace;
    background-color: black;
    
}


body {
    background-image: url("images/Untitled.png");
    font-family: 'VT323', monospace; 
    color: palevioletred;
}

.lead {
    font-size: 26px;
}

p {
    font-size: 30px;
}
.row {
    display: flex;
    justify-content: space-around;
    background-color: black;
    margin-bottom: 32px;
    padding: 32px;
}

.col-md-6 {
    border: 4px solid turquoise;
    border-radius: 5px;
}

.crystals {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    height: 100px;
}

.crystal {
    height: 51px;
    width: 75px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

